:root {
  --color: #607d8b;
}

.pollWidget{
  width:300px;
  height:251px;
  margin: 20px;
  position: relative;
  background-color:lightblue;
}

.pollHeader{
color:#fff;
background-color: #000;
}

.pollTitle{
  font-size:15px;
  padding:5px;
  text-align: center;
  margin: 0 auto;
}

.pollBody{
  overflow-y:auto;
  height: 185px;
  background-color:lightblue;
}
