:root {
  --color: #607d8b;
}

.pollWidget{
  width:300px;
  height:251px;
  background-color:lightblue;
  margin: 20px;
}

.pollHeader{
color:#fff;
background-color: #000;
}

.pollTitle{
  font-size:15px;
  padding:5px;
  text-align: center;
}

.pollBody{

}

.pollQuestion{
  text-align: center;
  padding:5px;
}

.pollButton {
  display:block;
  padding:5px;
  margin: 10px auto;
  width:200px;
  background-color: #000;
  color:#fff;
  border: 0;
}

label{
  display:block;
  clear:both;
  padding-left:10px;
}
