.notificationWidget {
  width: 300px;
  background-color: transparant;
  position:absolute;
  top:50px;
  right:20px;
  margin: 20px;
  text-align: center;
  border: 1px solid red;
  padding:5px;
}


.notificationMessage {
  border:2px solid grey;
  width: 100%;
  background-color: darkgrey;
  color:#fff;
  padding:5px;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  display:none;

}

.show{
  composes: notificationMessage;
  display:block;
}
